*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Shared style */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


.btn{
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    text-align: center;
    font: 16px;
    font-weight: 600px;
    margin: auto 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.btn i{
    margin-left: 10px;
}



.btn img{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}




/* main-style */
.body{
    max-width: 1600px;
}

nav{
    width: 85%;
    max-width: 1360;
    height: 92px;
    margin: 16px 120px 0px 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 139px;
    

}

.logo p{
    width: 70px;
    font-size: 8px;
    color: #001931;   
    display: inline-block;
    left: 183px;
    top: 74px;
    position: absolute;
}

nav .menu{
    width: 365px;
    display: flex;
    justify-content: space-between;
    margin: 34px 0px;
    list-style-type: none;
    align-items: center;
    
}

nav .menu a{
    width: 67px;
    opacity: 90%;
    font: 16px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    line-height: 152%;
    cursor: pointer;
    
}


#banner{
    max-width: 1600px;
    height: 674px;
    background: url("./assets/hero-bg.png");
    padding: 70px 120px 134px 120px;

}

.banner-content{
    width: 85%;
    max-width: 1360px;
    height: 379px;
    margin: 115px auto 179.5px auto;
    /* margin: 0px auto; */
    text-align: center;
    align-items: center;
}

.banner-content .early{
    border: none;
    border-radius: 1000px;
    width: 229px;
    padding: 8px 12px;
    gap: 6px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    margin: 0px auto ;

    
}

.banner-content h1{
    width: 770px;
    height: 168px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
    margin: 16px auto;
}
.banner-content h1 span{
    color: #469165;
}

.banner-content p{
   
    font: 18px;
    /* font-weight: 400;
    font-style: regular; */
    gap: 10px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 16px auto;
}

.banner-content .butt{
    width: 400px;
    display: flex;
    
    margin: 32px auto ;
    gap: 16px;
}

.btn-secondary{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

#features{
    
    margin: 0px auto;
    text-align: center;
    padding: 40px 120px;
    background-color: #F7F6F2;
    gap: 16px;
}

#features .features-header{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}

#features .features-header h1{
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
    margin-bottom: 16px;
}

#features .features-header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    gap: 24px;
   
}

.container .card{
    width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 70px 24px;
    text-align: center;
}

.container .card img{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
    padding: 14px;
    background-color: #F95555;
    border: none;
    border-radius: 1000px;
}

.container .card h2{
    max-width: 274px;
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.container .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution{
    width: 85%;
    max-width: 1360px;
    margin: 120px;
    background-color: #FFFFFF;
    /* gap: 16px; */
}

#solution .solution-content{
    
    gap: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#solution .solution-content img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

#solution .solution-content .title{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-weight: 500px;
    text-transform: uppercase;
    margin-bottom: 16px;

}

#solution .solution-content h3{
   
    font-size: 39px;
    font-weight: bold;
    color: #001931;
    margin: 16px 0px;
}

#solution .solution-content p{
    font-size: 16px;
    width: 600px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

#solution .solution-content .list{
    display: flex;
    align-items: center;
    
}

#solution .solution-content .list img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: 16px;
}

#solution .solution-content .list h6{
    font-size: 12px;
    line-height: 20px;
    color: #001931;
    font-weight: 500px;
    margin-bottom: 16px;
}

#ready{
    text-align: center;    
}

#ready .ready-content{
    width: 85%;
    max-width: 1360px;
    margin: 2px 120px 120px 120px;
    padding: 80px 40px;
    background-color: #f7f6f2e8;
    border-radius: 12px;
}
.ready-content h1{
    font-size: 40px;
    font-weight: 700px;
    color: #001931;
    
}

.ready-content p{
    font-size: 14px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    margin-top: 16px;
}

footer{
    max-width:1600px;
    height: 300px;
    background-color: #001931;
    gap: 80px;
}
footer .footer-nav{
    width: 85%;
    max-width: 1360px;
    margin:0px 120px 80px 120px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 64px;
}
footer .footer-nav .footer-social p{
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
    line-height: 28px;
    margin-right: 90px;
    margin-bottom: 16px;
}

footer .footer-nav .social-icons a{
   
    background: #FFFFFF;
    color: #001931;
    border-radius: 1000px;
    padding: 3px;
    margin-right: 11px;
}
.social-icons a i{
    font-size: 16px;
    height: 16px;
}
.last{
    width: 85%;
    max-width: 1360px;
    margin: 0px 120px 30px 120px;
}
hr{
   
    border: none;
    border-top: 1px solid #e5e7eb59;
    
    margin-bottom: 30px;
    margin-top: 80px;
}

.last p{
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}